/* body{
    background-color: aquamarine;
    background-image: url('./baconCookie.jpg');
    background-repeat: no-repeat;
    width:100%;
} */

html { 
    background: url('backgroundNY.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.myBody{
    background-color: transparent;
}