.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.App-largeDogCookieImage {
  position: fixed;
  display: inline-block;
  width: auto;
  height: 100%;
  z-index: -2;
  top: 0px;
  left: 0px;
}

.App-content{
  margin: auto;
  /* margin-left: 30%; */
  /* padding-left: 20px; */
}


.App-background{
  position: fixed;
  margin-left: 30%;
  width: 70%;
  background-color: red;  
  height: 100%;
  z-index: -1;
}

.App-navMenu{
  position: relative;
  display: inline-block;
  float: right;
  padding: 10px;
}


.App-navMenu-button{
  display: inline-block;
  float: left;
  border: 3px solid pink;
  background-color: orangered;
  color: white;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  cursor: default;
}
.active{
  color: white; /*#FF9999*/
}
.App-navMenu-button:hover{
  text-decoration: underline;
}

.App-header {
  padding: 20px;
}

.App-title {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 48pt;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.App-pupIcon{
  height: 40pt;
  width: auto;
  display: inline-block;
  margin-right: .4em;
}

.App-boneIcon{
  height: 14pt;
  width: auto;
  display: inline-block;
  margin-right: 5px;
}

.App-intro {
  color: azure;
  text-align: center;
  font-size: 14pt;
  margin: auto;
}


.productWrapper{
  display: inline-block;
  padding: 20px;
  width: 300px;
  height: 400px;
}

.productImage{
  width: 100%;
}

.productImageDetail{
  width: 20%;
  /* padding: 20px; */
  margin:20px;
  /* position: absolute;
  left: 30px; */
  /* float: left; */
}

.App-aboutDog{
  width: 60%;
  height: auto;
}

.App-aboutDog-caption{
  text-align: center;
  font-size: 14pt;
  margin: auto;
}

.App-aboutUs{
  text-align: center;
  font-size: 14pt;
  margin: auto;
  /* margin-right: 10%; */
  color: #808080;
  font-style: italic;
  margin-bottom: 1.5em;
  width: 70%;
}

.detailPane{
  /* position: fixed; */
  position: relative;
  width: 100%;
  height: 30%;
  top: 0px;
  left: 0px;
  /* background-color: rgba(255, 100, 100, 0.8); */
  /* box-shadow: 2px 0px 2px #e0e0e0; */
  padding: 10px;
  padding-top: 10px;
  outline: 1px solid white;
}

.detailPane-inner{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
  /* position: fixed; */
  /* background-color: white; */
}

.productLabel{
  color:white;
}

.Xout{
  position: absolute;
  top: 8px;
  right: 16px;
  /* font-size: 18px; */
  /* right: 10px;
  top: 85%; */
  font-size: 24pt;
  font-weight: bolder;
  color:white;
  cursor: default;
  outline: 2px solid green;
}
